
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyBud</title>
</head>
<body>
    {% include 'navbar.html'%}
    {%if messages%}
        {%for message in messages%}
            <li> {{ message}}</li>
        {%endfor%}
    {%endif%}
    <a href="{% url 'create-room' %}">Create room</a>
    {%block content%}
    {% for room in rooms%}
    <div>
        <h5> {{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
    </div>
    {%endfor%}
    {%endblock%}
</body>
</html>