{%extends 'main.html' %}
{%block content%}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

 <h1> Home Section</h1>

 <div class="home-container">
    <div class="Browse topics">

        <h3> Browse Topics</h3>
        <a href="{% url 'home' %}"> <h4> All Topics</h4></a>
        {% for topic in topics%}
           <a href="{% url 'home' %}?q={{topic.name}}"> <h4> {{topic.name}}</h4></a>
           <hr/>
        {%endfor%}

    </div>
    <div class="sec-section">
        <p> {{room_count}} Rooms Available</p>
        {% for room in rooms%}
        <div>
            <a href="{% url 'update-room' room.id%}"> Edit </a>
            <a href="{% url 'delete-room' room.id%}"> Delete Room </a>
        <div> <span>@{{room.host.username}}</span></div>
            <h2> {{room.id}} -- <a href="{% url 'room' room.id%}">{{room.name}}</a></h2>
            <h4> {{room.topic}}</h4>
            <hr/>
        </div>
        {%endfor%}
    </div>


</div>

{%endblock content%}